{:paths ["src"]
 :lg-version "1.10.0"
 :tasks {test-all {:doc "Run all integration tests"
                   :do [{:sh "lgx test"}
                        {:sh "clojure -M -e \"(require 'tiny-cli.core-test) (require 'tiny-cli.completion-test)\""}
                        {:sh "bb -cp src:test -e \"(require 'tiny-cli.core-test) (require 'tiny-cli.completion-test)\""}]}
         
         fmt {:doc "Format source files"
              :do [{:sh "cljfmt fix"}]}
         
         fmt-check {:doc "Check source file formatting"
                    :do [{:sh "cljfmt check"}]}
         
         lint {:doc "Lint source files"
               :do [{:sh "clj-kondo --parallel --lint src test"}]}
         
         check {:doc "Run all checks"
                :do [{:sh "lgx fmt"}
                     {:sh "lgx lint"}
                     {:sh "lgx test-all"}]}                    

         release {:doc "Release a new version"
                  :args [{:name :version}]
                  :do [{:sh ["git" "tag" "v{{version}}"]}
                       {:sh "git push --tags"}]}}}
