{:paths ["src"]
 :lg-version "1.11.1"
 :tasks {test-all {:doc "Run all integration tests"
                   :do [{:sh "lgx test"}
                        {:sh "clojure -M -e \"(require 'tiny-cli.core-test) (require 'tiny-cli.completion-test)\""}
                        {:sh "bb -cp src:test -e \"(require 'tiny-cli.core-test) (require 'tiny-cli.completion-test)\""}]}
         
         fmt {:doc "Format source files (available actions: fix, check; default: fix)"
              :args [{:name :action
                      :type [:enum "fix" "check"]
                      :default "fix"}]
              :do [{:sh "cljfmt {{action}}"}]}
         
         lint {:doc "Lint source files"
               :do [{:sh "clj-kondo --parallel --lint src test"}]}
         
         check {:doc "Run all checks"
                :do [{:sh "lgx fmt"}
                     {:sh "lgx lint"}
                     {:sh "lgx test-all"}]}                    

         release {:doc "Release a new version as a git tag (pass only numbers without a prefix)"
                  :args [{:name :version}]
                  :do [{:sh ["git" "tag" "v{{version}}"]}
                       {:sh "git push --tags"}]}}}
